body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aliceblue;
}

.para
{
    margin-top: 2%;
    width:80%;
    text-align: justify;
    color:white;
    border-color: white;
    border-radius: 10px;
    background-color: rgb(64, 64, 64);
    margin-left: 14px;
    padding:10px;
    letter-spacing: 1px;
    
}
img.map{
    float:right;
    width:700px;
    height:720px;
}

header{
    width:100%;
    background-color: rgb(37, 34, 34);
    height:60px;
    color: white;
    font-weight: bold;
    padding: 10px;
}
h3{
    padding-left: 12px;

}
.one{
    margin-left: 12px;
}
.main{
    width:50%;
    display:flex;
    grid-template-columns: repeat(8, 4fr);
    grid-gap: 5px;
    
}
.dist{
    margin-top: 70px;
    
    padding: 7px;
   
}
.dist1{
    margin-top: 70px;
    margin-left: 10px;
    
    padding: 7px;
  
}
.dist2{
    margin-top: 70px;

    margin-left: 10px;
    
    padding: 7px;
    
}
.dist3{
    margin-top: 70px;
    margin-left: 10px;
    
    padding: 7px;
    
}
.pic{
    height:150px;
    width:200px;
    padding: 5px;
}